<html>
    <head>
            <title>RB's ISBN</title>
            <script src="js/scripts.js"></script>
            <link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">
            <link rel="stylesheet" type="text/css" href="/css/styles.css">
    </head>
    <body>
        <center>
            <div>
                <form method="post" action='/check_isbn'>
                    <label for="isbn_checker">Place an ISBN or more into the box bellow<br>To find out if it is valid<br>(Please seperate ISBN entries with a new line)</label><br><br>
                    <textarea rows="15" col="25" name="isbn" id="isbn_checker" placeholder="For Validating one or more ISBN"></textarea><br>
                    <input type="submit" value="Check ISBN"><br>
                    <div>
                        <table>
                            <tr>
                                <th>ISBN Entries</th>
                                <th>Valid?</th>
                            </tr>
                            <% isbn_check.each do |v| %>
                                <tr>
                                    <td>
                                        <input type="hidden" name="stored_isbn[]" value="<%= v[0] %>">
                                        <div><%= v[0] %></div>
                                    </td><td>
                                        <input type="hidden" name="isbn_str[]" value="<%= v[1] %>">
                                        <div><%= v[1] %></div>
                                    </td>
                                </tr>
                            <% end %>
                        </table>
                    </div>
                </form>
            </div>
        </center>
    </body>
</html>